$temp-blue: #024BB9;
$temp-volt: #CEFF00;

.home-page {
  background-color: $temp-blue;
  color: $temp-volt;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.profile-picture {
  border-radius: 50%;
}

.MuiDrawer-root {
  width: 45%;
}