$temp-blue: #0167ff;
$temp-white: #F2F7F2;
$temp-black: #232933;

.form-page {
    background-color: $temp-blue;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workout-form {
    height: 100%;
    width: 85%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.grid-item {
    margin: 10% 0% 10% 0%;
}