$temp-blue: #0167ff;
$temp-white: #fff;

// TODO: Need to fix styles.
.workout-display {
  height: 75%;
  width: 100%;
  overflow-y: scroll;
  
  &::-webkit-scrollbar {
    display: none;
  }
}

.workout-card {
  height: 20%;
  width: 80%;
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
}

.workout-card-content {
  align-self: center;
}

.btn-container {
  align-self: flex-start;
}